node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

MyLogFile.log
benchmark.txt

zkp/output/cassiopeia_cpp/*.o
zkp/output/powersOfTau*
zkp/output/keys
zkp/output/cassiopeia.r1cs
zkp/output/cassiopeia.sym
zkp/output/cassiopeia_js
